:root {
  --main-title-color: #ffffff;
  --main-link-color: #ffffff;
  --main-color-contact-footer-hero-description-prices-item: #9da4bd;
  --main-color-benefits-barbers-subtitle-btn: #303030;
  --secondary-title-description-about-benefits-color: #555555;
  --accent-color: #ff6c00;
  --secondaty-font: 'Raleway', sans-serif;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
}
.header-link:hover,
.header-link:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
.title {
  font-family: var(--secondaty-font);
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}
.description {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* --------------HEADER-------------- */

.header {
  background-color: rgb(220, 217, 214);
}
.header-navigation {
}
.header-logo {
}
.header-item {
}
.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-link-color);
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-link-color);
}
.header-btn {
  font-family: inherit;
  color: var(--main-link-color);
}

/* -----------HERO----------- */

.hero {
  background-color: rgb(220, 217, 214);
}
.hero-list {
}
.hero-item {
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-title-description-about-benefits-color);
}
.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}
.hero-subtitle {
  color: rgba(157, 164, 189, 0.6);
}
.hero-title {
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}
.hero-description {
  color: var(--main-color-contact-footer-hero-description-prices-item);
}

/* ----------ABOUT--------- */

.about {
}
.about-list {
}
.about-item {
}
.about-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--secondary-title-description-about-benefits-color);
}
.about-title {
  color: var(--secondary-title-description-about-benefits-color);
}
.about-description {
  color:var(--secondary-title-description-about-benefits-color);
}
.about-description-two {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color:var(--secondary-title-description-about-benefits-color);
}
.about-btn {
  color: var(--main-color-benefits-barbers-subtitle-btn);
}

/* -----------PRICES---------- */

.prices {
}
.prices-subtitle {
  color: rgba(157, 164, 189, 0.6);
}
.prices-title {
  color: var(--main-title-color);
}
.prices-list {
}

.prices-item {
}
.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-color-contact-footer-hero-description-prices-item);
}
.prices-btn {
  color: var(--main-link-color);
}

/* -----------Benefits----------- */

.benefits {
}
.benefits-list {
}

.benefits-item > span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--main-color-benefits-barbers-subtitle-btn);
}
.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.33;
  text-align: center;
  color: var(--main-color-benefits-barbers-subtitle-btn);
}
.benefits-subtitle {
  color:var(--main-color-benefits-barbers-subtitle-btn);
}
.benefits-title {
  color: var(--secondary-title-description-about-benefits-color);
}
.benefits-description {
  color:var(--secondary-title-description-about-benefits-color);
}

/* ----------Barbers-------- */

.barbers {
}
.barbers-subtitle {
  color: var(--main-color-benefits-barbers-subtitle-btn);
}
.barbers-title {
  color: var(--secondary-title-description-about-benefits-color);
}
.barbers-list {
}
.barbers-item {
}
.barbers-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-title-description-about-benefits-color);
}
.barbers-item-text {
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/* ----------Gallery--------- */

.gallery {
}
.gallery-subtitle {
  color: var(--secondary-title-description-about-benefits-color);
}
.gallery-list {
}
.gallery-item {
}

/* ----------Contact--------- */

.contact {
  background-color: rgb(212, 206, 206);
}
.contact-title {
  color: var(--main-title-color);
}
.contact-address {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-color-contact-footer-hero-description-prices-item);
}
.contact-list {
}
.contact-item {
}
.contact-link-address {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-color-contact-footer-hero-description-prices-item);
}
.contact-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-color-contact-footer-hero-description-prices-item);
}
[href$='mailto:barbershop@email.com'] {
  text-decoration-line: underline;
}
.contact-subtitle {
  color: var(--main-title-color);
}
.contact-description {
  color: var(--main-color-contact-footer-hero-description-prices-item);
}

/* ----------Form--------- */

/* ----------Footer--------- */

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-color-contact-footer-hero-description-prices-item);
}
.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-color-benefits-barbers-subtitle-btn);
}
