:root {
  --main-title-color: #ffffff;
  --main-link-color: #ffffff;
  --main-color-contact-footer-hero-description-prices-item: #9da4bd;
  --main-color-benefits-barbers-subtitle-btn: #303030;
  --secondary-title-description-about-benefits-color: #555555;
  --accent-color: #ff6c00;
  --secondaty-font: 'Raleway', sans-serif;
  --bacic-margin: 20px;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.btn {
  font-weight: 600;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;

  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  padding: 12px 20px;
  min-width: 160px;
}
.header-tel:hover,
.header-tel:focus,
.header-link:hover,
.header-link:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
.title {
  font-family: var(--secondaty-font);
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.subtitle::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: currentColor;
  display: block;
  margin-right: 20px;
}
.description {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.social::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: currentColor;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* --------------HEADER-------------- */

.header {
  position: fixed;
  top: 0;
  left: 0;

  padding: 32px 0;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 131px;
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-item {
}

.header-link {
  padding: 20px 0;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-link-color);

  position: relative;
  transition: color 250ms linear;
}

.header-tel {
  padding: 20px 0;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-link-color);

  margin-left: auto;
  margin-right: 43px;
}

.header-btn {
  color: var(--main-link-color);
}

.header-btn:hover,
.header-btn:focus {
  background-color: var(--accent-color);
}

.header-link.active{
  color: var(--accent-color);
}

.header-link.active::after{
  content: '';
  width: 100%;
  height: 3px;
  background-color: var(--accent-color);
  display: block;

  position: absolute;
  bottom: 0;
}

/* -----------HERO----------- */

.hero {
}
.hero-container {
  display: flex;
}

.hero-list {
  width: 100px;
  display: flex;
  gap: 30px;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
  padding-top: 30px;

  position: relative;
  padding-left: 90px;
}

.hero-list::before{
  color: '';
  width: 60px;
  height: 1px;
  background-color: #000;

  position: absolute;
  left: 0;
  top: 50%;
  /* transform: translate(-50%, -50%); */
  bottom: 7px;
}
.hero-list-wrap{
  display: flex;
  align-items: flex-end;
}

.hero-item {
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-title-description-about-benefits-color);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-content {
  background-color: rgb(220, 217, 214);
  padding: 272px 100px 208px;
  flex-grow: 1;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.8),
      rgba(25, 28, 38, 0.8)
    ),
    url(../images/slider.jpeg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-subtitle {
  color: rgba(157, 164, 189, 0.6);

  margin-bottom: var(--bacic-margin);
}

.hero-title {
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);

  margin-bottom: var(--bacic-margin);
}

.hero-description {
  color: var(--main-color-contact-footer-hero-description-prices-item);

  width: 360px;
}

/* ----------ABOUT--------- */

.about {
  padding: 120px 0;
}
.about-container {
  display: flex;
}

.about-list {
  display: flex;
  gap: 30px;
  margin-right: 30px;
  width: 50%;
}
.about-content {
  max-width: 470px;
}
.about-item {
  width: calc((100%-30px) / 2);
}
.about-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--secondary-title-description-about-benefits-color);

  margin-bottom: 20px;
}
.about-title {
  color: var(--main-color-benefits-barbers-subtitle-btn);

  margin-bottom: 20px;
}
.about-description {
  color: var(--secondary-title-description-about-benefits-color);

  margin-bottom: 20px;
}
.about-description-two {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--secondary-title-description-about-benefits-color);

  margin-bottom: 42px;
}
.about-btn {
  color: var(--main-color-benefits-barbers-subtitle-btn);
}

/* -----------PRICES---------- */

.prices {
  padding: 120px 0;

  background-image: url(../images/prises.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #111319;
}
.prices-subtitle {
  color: rgba(157, 164, 189, 0.6);

  margin-bottom: var(--bacic-margin);
}
.prices-title {
  color: var(--main-title-color);

  margin-bottom: var(--bacic-margin);
}
.prices-content {
  display: flex;
  gap: 30px;
}
.prices-list {
  padding: 30px 20px;
  flex-grow: 1;
  width: calc((100%-30px) / 2);
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
  margin-bottom: 44px;
}

.prices-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;
}

.prices-item::before {
  content: '';
  width: auto;
  height: 1px;
  flex-grow: 1;
  background-color: rgba(157, 164, 189, 0.12);
  display: inline-block;
}

.prices-item:not(:last-child) {
  margin-bottom: var(--bacic-margin);
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-color-contact-footer-hero-description-prices-item);
}

.prices-item-text:first-child {
  order: -1;
}
.prices-btn {
  color: var(--main-link-color);
  display: block;
  margin: auto;
}

/* -----------Benefits----------- */

.benefits {
  padding: 120px 0;
}
.benefits-container {
  display: flex;
}
.benefits-list {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  padding: 0 70px;
}
.benefits-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 170px;
  height: 132px;
  padding: 20px 24px;
  background-color: #f7f7f7;
}
.benefits-item:nth-child(even) {
  margin-top: 30px;
}
.benefits-item > span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: var(--main-color-benefits-barbers-subtitle-btn);
/* 
  display: flex;
  align-items: flex-start; */

  position: relative;
}
.benefits-item > span::after {
  content: '+';
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  color: var(--accent-color);

  position: absolute;
  top:7;
  right: -10px;
}
.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.33;
  text-align: center;
  color: var(--main-color-benefits-barbers-subtitle-btn);
}
.benefits-content {
  max-width: 500px;
  width: 55%;
}
.benefits-subtitle {
  color: var(--main-color-benefits-barbers-subtitle-btn);
  margin-bottom: 20px;
}
.benefits-title {
  color: var(--main-color-benefits-barbers-subtitle-btn);
  margin-bottom: 20px;
}
.benefits-description {
  color: var(--secondary-title-description-about-benefits-color);
}

/* ----------Barbers-------- */

.barbers {
  padding: 120px 0;

  background-color: #f7f7f7;
}

.barbers-subtitle {
  color: var(--main-color-benefits-barbers-subtitle-btn);
  margin-bottom: 20px;
}

.barbers-title {
  color: var(--main-color-benefits-barbers-subtitle-btn);
  margin-bottom: 44px;
}

.barbers-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.barbers-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-title-description-about-benefits-color)
  margin-bottom: 8px;
}

.barbers-item-text {
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);

  margin-bottom: 30px;
}

.barbers-content {
  padding-top: 30px;
}

.barbers-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.barbers-social-item {
  width: 44px;
  height: 44px;
}

.barbers-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border-radius: 50%;

  background-color: rgb(255, 255, 255);
  color: #000;
}

.barbers-link:is(:hover, :focus) {
  color: var(--accent-color);
}

.barbers-icon {
  fill: currentColor;
}

/* ----------Gallery--------- */

.gallery {
  padding: 120px 0;
}
.gallery-subtitle {
  color: var(--secondary-title-description-about-benefits-color);

  margin-bottom: 44px;
}
.gallery-list {
  display: flex;
  gap: 30px;
}
.gallery-item {
}

/* ----------Contact--------- */

.contact {
  background-color: #191c26;
  background-image: url(../images/bgcontact.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 48% 100%;
  padding: 130px 120px;
}

.contact-container {
  display: flex;
}

.contact-form {
  width: 52%;
}

.contact-wrap {
  width: 48%;
  padding-left: 100px;
}

.contact-title {
  color: var(--main-title-color);
  margin-bottom: 40px;
}
.contact-address {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  font-style: normal;
  letter-spacing: 0.02em;
  color: var(--main-color-contact-footer-hero-description-prices-item);
  margin-bottom: 70px;
}
.contact-list {
}
.contact-item {
  margin-bottom: 20px;
}
.contact-link-address {
  display: flex;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-color-contact-footer-hero-description-prices-item);
}
.contact-link {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-color-contact-footer-hero-description-prices-item);
}
[href$='mailto:barbershop@email.com'] {
  text-decoration-line: underline;
}
.contact-icon{
  margin: 5px 16px 0 0;
}

.contact-link .contact-icon{
  margin: 0 16px 0 0;
}
.contact-subtitle {
  color: var(--main-title-color);
  margin-bottom: 20px;
}
.contact-description {
  color: var(--main-color-contact-footer-hero-description-prices-item);
}

/* ----------Footer--------- */

.footer {
  background-color: #f7f7f7;
  padding: 56px 0;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer-item {
  display: flex;
  align-items: center;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-color-contact-footer-hero-description-prices-item);
}
.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-color-benefits-barbers-subtitle-btn);
}
.footer-link:is(:hover, :focus) {
  color: var(--accent-color);
}
/* .footer-link:is(:hover, :focus)::before{
  background-color: var(--accent-color);
} */
